# Ignore Everything
*

# Include .gitignore
!.gitignore

# Add back settings
!settings.json
!keymap.json
!tasks.json

!themes/
!themes/*
!snippets/
!snippets/*
!prompts/
!prompts/**/*
prompts/prompts-library-db.0.mdb/lock.mdb
